org.anc.grid.data.masc/MascDataSource.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/MascDataSource/services/MascDataSource" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/MascDataSource/services/MascDataSource" xmlns:intf="http://localhost:8080/MascDataSource/services/MascDataSource" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="uri:org.anc.lapps.data.api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="uri:org.anc.lapps.data.api/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="Discriminator">
    <sequence>
     <element name="id" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="Data">
    <sequence>
     <element name="payload" nillable="true" type="xsd:anyType"/>
     <element name="type" nillable="true" type="tns1:Discriminator"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listRequest">

   </wsdl:message>

   <wsdl:message name="queryRequest">

      <wsdl:part name="query" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getResponse">

      <wsdl:part name="getReturn" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="queryResponse">

      <wsdl:part name="queryReturn" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="getRequest">

      <wsdl:part name="id" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="MascDataSource">

      <wsdl:operation name="get" parameterOrder="id">

         <wsdl:input message="impl:getRequest" name="getRequest"/>

         <wsdl:output message="impl:getResponse" name="getResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

      <wsdl:operation name="query" parameterOrder="query">

         <wsdl:input message="impl:queryRequest" name="queryRequest"/>

         <wsdl:output message="impl:queryResponse" name="queryResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MascDataSourceSoapBinding" type="impl:MascDataSource">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/MascDataSource/services/MascDataSource" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/MascDataSource/services/MascDataSource" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="query">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/MascDataSource/services/MascDataSource" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MascDataSourceService">

      <wsdl:port binding="impl:MascDataSourceSoapBinding" name="MascDataSource">

         <wsdlsoap:address location="http://localhost:8080/MascDataSource/services/MascDataSource"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
